.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to right, rgb(216, 194, 236) 40%,rgb(241, 216, 233) 50%);
}

.title {
  font-size:x-large;
  font-family:fantasy;
  letter-spacing:0.2em;
  color:#874;
}

.newContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newContact input {
  width: 250px;
  height: 50px;
  margin: 10px;
  font-size: 18px;
}

.addContactStyle {
  width: 300px;
  height: 300px;
  border: 3px solid #764;
  border-radius:30px;
  background-color: rgb(220, 234, 210);
  margin: 10px
}

.list {
  font-size: larger;
  font-family:fantasy;
  letter-spacing:0.2em;
  color:rgb(25, 36, 153);
}

.elementlist {
  width:520px;
  height:fit-content;
  border: 3px solid rgb(47, 26, 237);
  border-radius:30px;
  background-color: rgb(117, 132, 244);
  margin: 10px;
}

.element{
  width: 500px;
  height: 180px;
  border: 2px solid rgb(47, 26, 237);
  border-radius: 15px;
  background-color: aliceblue;
  margin: 5px;
}

.button {
  margin-right:8px;
}

#update {
  width: 100px;
  height: 18px;
  margin-bottom: 10px;
}